/* Design by Tumelo Kgasa */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    font-kerning: auto;

}

:root {
    font-size: 16px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


body,
html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

body {
    background: url(./images/bg.jpg) no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif !important;
}

.container {
    margin-top: 5rem;
    text-align: center;
    color: white;
    background: transparent;
}

.container h1 {
    font-size: 6rem;
}

.container h2 {
    margin-top: 3rem;
    font-size: 3rem;
    font-weight: 500;
    font-style: Bold;
    color: #ffffff;
    text-transform: uppercase;
}

.container h3 {
    margin-top: 2rem;
}

.count {
    margin: 1rem 0;
    padding-top: 20px;
}

.countd {
    display: inline-block;
    width: 90px;
    height: 90px;
    border: 2px solid #ffffff;
    margin: 0 5px;
    font-size: 1rem;
    border-radius: 50%;
    overflow: hidden;
    color: #ffffff;
}

.countd span {
    display: block;
    font-size: 1.5rem;
    margin-top: 14px;
    color: #ffffff;
}

@media screen and (max-width: 1200px) {
    .container h1 {
        font-size: 6rem;
    }

    .container h2 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 900px) {
    .container h1 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 600px) {
    .container h1 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 400px) {
    .container h1 {
        font-size: 2rem;
    }

    .container h2 {
        font-size: 1rem;
    }

    .count {
        margin: 1rem 0;
        padding-top: 20px;
    }

    .countd {
        width: 60px;
        height: 60px;
        margin: 0 8px;
        font-size: 10px;
    }

    .countd span {
        display: block;
        font-size: .5rem;
        margin-top: 14px;
        color: #ffffff;
    }

}